body
{
	background: #000;
	color: #FFF;
}

#boardWrapper
{
	width: 100%;
	-webkit-perspective: 790px;
}

#board
{
	width: 80%;
	margin: 0 auto;
	-webkit-transform: rotateX(13deg);
}

#board .boardLine
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#board .boardLine .boardSquare
{
	flex: 1 50px;
	width: 20px;
	height: 11px;
	background: #111;
	border: 1px dotted #2d3649;
    transition: all 0.5s ease;
}

#board .boardLine .boardSquare.ship
{
	border: 1px solid #2d3649;
}

#board .boardLine .boardSquare.ship.player1
{
	background: #2d889e;
	border-color: #1d788e;
}

#board .boardLine .boardSquare.ship.player2
{
	background: #9d0e4c;
	border-color: #8d013c;
}
