#install{
	height: 250px;
	width: 450px;
	margin: 60px;
	border: 2px solid black;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
}

#messages
{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	word-wrap: break-word;
	overflow: auto;
}

.mess{
	display: block;
	padding: 5px;
	height: 4px;
}

.name{
	font-weight: bold;
}

input#message
{
	width: 450px;
}